html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #map, #pano {
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 30px;
  }
  .button{
    text-align: center;
    position:relative;
    
  }
  .abs{
    position: absolute;
  } 

  .totalrun{
    margin-right: 150px;
    font-size: large;
    color: white;
  }

  #tokyo, #yamaguchi, #roma{
      height: 100%;
      width: 100%;
      font-size: large;
      font-weight:bold;
      border: none;
      background-color: transparent;
      color: white;
      margin-right: 50px;
  }

  #go, #turn-right{
    border:white;
    background-color:white;
    color: white;
  }
  .container{
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
      top: 0;
      left: 0;
      opacity:0;
      visibility: hidden;
  }


 .container.is-show{
    opacity: 1;
    visibility: visible;
    z-index: 99;
    width: 100%;
}

.icon{
  height: 40px;
}

