html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map, #pano {
    float: left;
    height: 80%;
    width: 50%;
  }
  .button{
    text-align: center;
    height: 15%;
    margin-bottom: 3%;
    position:relative;
  }
  .text{
      font-size: larger;
      font-weight: bolder;
  }
  #tokyo, #yamaguchi, #roma{
      height: 50%;
      width: 30%;
      font-size: large;
      font-weight:bold;
      background-color:lightcyan;
  }
  #go, #onclick{
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    width: 20%;
    padding: 30px;
    border: snow;
    background-color:white;
  }
  .container{
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 99;
      top: 0;
      left: 0;
      opacity:0;
      visibility: hidden;
      animation: fadeIn 0.2;
  }


 .container.is-show{
    opacity: 1;
    visibility: visible;
}

